<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.smz.batterystatus" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>SMZBatteryStatus</name>
<js-module name="SMZBatteryStatus" src="www/SMZBatteryStatus.js">
<clobbers target="cordova.plugins.SMZBatteryStatus" />
</js-module><platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="SMZBatteryStatus">
<param name="android-package" value="com.smz.batterystatus.SMZBatteryStatus" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml"></config-file>
<source-file src="src/android/SMZBatteryStatus.java" target-dir="src/com.smz.batterystatus/SMZBatteryStatus" />
 <source-file src="src/android/SMZBatteryStatusWorker.java" target-dir="src/com.smz.batterystatus/SMZBatteryStatusWorker" />
</platform></plugin>